* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Quicksand,sans-serif;
    background: antiquewhite;.
    color: #383838;
}

#logo {
    width: 25vw;
    margin: 2rem;
}

/*Header and Footer */
header, footer {
    width: 100%;
    height: 5rem;
    background: #dacccc;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer {
    margin-top: 35vw;
}

#bottom, #logout {
    margin-right: 3rem;
}

header a {
    margin: 0.4rem;
}

footer a {
    margin: 0.4rem;
}

header .fa-bars {
    display: none;
}

a {
    color: #353333;
}

#title-menu {
    text-align: center;
    padding: 8rem;
}

#title-menu h1 {
    font-size: 5rem;
    font-weight: bold;
}

/* login / Register and Profile */
#login-container, #register-container {
    text-align: center;
}

#register-container, #contact-container {
    border: 1px solid black;
    width: 50vw;
    margin: 0 auto;
    border-radius: 3rem;
    padding: 3rem;
}

#contact-container textarea {
    display: block;
    margin: 0 auto;
}

#login-container input, #register-container input, #contact-container input, #profile-container input {
    margin: 1rem;
    width: 10vw;
    border-radius: 0.3rem;
}

#contact-container input {
    width: 20rem;
    display: block;
    margin: 0 auto;
}

#contact-container button {
    width: 15rem;
}

#register-container input {
    margin: 0.4rem auto;
    border-radius: 0.3rem;
}

label {
    width: 12vw;
    text-align: left;
}

#register-container #submit, #contact-container button, #profile-container .submit-button {
    margin: 2rem auto;
}

/* Contact and Profile */
.container, #profile-container {
    text-align: center;
}

#container-contact {
    padding: 8rem;
}

/* style button */
#submit {
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
}

/* Profile */
#profile-container input {
    width: 15vw;
}

#profile-container {
    padding: 5rem;
}

/* Validate modify profile */
.message {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100vw;
    background: #dacccc;
    color: blue;
    padding: 2rem;
}

.message #close {
    margin-left: 0.8rem;
}

#close {
    border: none;
    width: 1rem;
}


/* article home */
.container-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.card {
    width: 31vw;
    margin: 1rem;
    background: #d8d1c7;
}

.card-body {
    padding: 2rem;
}

#namely {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

#def-dys {
    width: 50vw;
    margin: 0 auto;
    color: indianred;
    font-size: 1.9rem;
}

#dysorthographie {
    font-weight: bold;
}

#image-trouble {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

#image-trouble img {
    width: 35vw;
}

.card-img-top {
    height: 25vh;
}

#learn {
    margin-bottom: 5rem;
}

/* style article */
.container {
    width: 100vw;
}

.container-dys {
    width: 32vw;
    display: flex;
}

/* list article */

#show-article {
    border: 1px dashed #878279;
    border-radius: 1rem;
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
}

#container-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#show-article h3 {
    padding: 2rem;
}

#article-show {
    text-align: center;
    border: 1px solid black;
    margin: 2rem;
    padding: 2rem;
    width: 50vw;
    border-radius: 2rem;
}

#title {
    color: indianred;
    font-size: 2rem;
}

#author {
    color: #948e89;
}

/* page article */

#form-addArticle {
    padding: 8rem;
}

#form-addArticle input {
    margin: 0.8rem;
}

#btn-addArticle, #btn-contact {
    font-size: 1.3rem;
}

#content {
    margin: 2rem;
}

#title-article {
    color: indianred;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
}

/* comment */

#title-comment, #title-addArticle, #title-contact, #title-profile {
    width: 50vw;
    color: indianred;
    margin: 0 auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px,
    rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

#comments {
    font-weight: bold;
    text-decoration: underline;
    padding: 2rem;
}

#comment a {
    padding: 2rem;
}

#comment {
    border: 4px double black;
    width: 50vw;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 0.8rem;
}

#comment div {
    padding: 2rem;
}

#author-comment {
    font-style: italic;
    color: #878279;
}

#remove-comment {
    text-align: center;

}

.style-comment, #register {
    width: 50vw;
    margin: 0 auto;
    padding: 2rem;
}

#register {
    text-align: center;
    padding: 1rem;
}








